<p-growl [(value)]="msgs"></p-growl>
<p-panel #pnl header="Start Workflow">
  <h4>{{personName ? personName : "Select a Person"}}</h4>
  <p-dropdown [options]="selectProcesses" [(ngModel)]="selectedProcess" (onChange)="onChange($event)" autoWidth="False" [style]="{'width':'250px'}" placeholder="Select a Process"></p-dropdown><br/>
  <button pButton type="button" (click)="confirm()" label="Start Workflow" [disabled]="buttonDisabled"></button>
</p-panel>
<p-dataTable [value]="personGrid" [(selection)]="selectedPerson" selectionMode="single" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" dataKey="id" [rows]="20" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[20,50,100]" expandableRows="true">
  <p-column expander="true" styleClass="col-icon" [style]="{'width':'5%'}"></p-column>
  <p-column field="status" header="Status" sortable="true" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
  <p-column field="first_name" header="First Name" sortable="true" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
  <p-column field="last_name" header="Last Name" sortable="true" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
  <p-column field="hire_date" header="Start Date" sortable="true" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
  <p-column field="positions" header="Positions" sortable="true" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
  <p-column field="locations" header="Locations" sortable="true" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>
  <ng-template let-person pTemplate="rowexpansion">
    <app-personstatus person_id="{{person.id}}"></app-personstatus>
    <app-personform person_id="{{person.id}}" (update)="refreshData($event)"></app-personform>
    <app-comments person_id="{{person.id}}"></app-comments>
    <app-personlog person_id="{{person.id}}"></app-personlog>
  </ng-template>
</p-dataTable>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="500"></p-confirmDialog>
