<div class="row align-self-center justify-content-center login-row">
  <div class="col-lg-4 col-lg-auto">
    <div class="card card-inverse login-box">
      <div *ngIf="!authService.isLoggedIn; else successBlock" class="container">
        <div class="row justify-content-center">
          <div class="col-10">
            <h3 class="card-title">Login</h3>
          </div>
        </div>
          <div class="row justify-content-center">
            <div class="col-10">
              <input type="text" pInputText placeholder="username" [(ngModel)]="username"/>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10">
              <input type="password" pInputText placeholder="password" [(ngModel)]="password"/>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10">
              <button pButton type="button" label="Login" (click)="onclick()"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<ng-template #successBlock>
  <div class="row justify-content-center">
    <div class="col-10">
      <h4>You are logged in as {{authHeaders.getUsername()}}</h4>
      <button pButton type="button" label="Logout" (click)="onclicklogout()"></button>
    </div>
  </div>
</ng-template>
<p-dialog header="Login Failed" [(visible)]="display" modal="modal" width="300" [responsive]="true">
    <p>Bad username/password combination.</p>
</p-dialog>
