<p-growl [(value)]="msgs"></p-growl>
<p-panel class="workflow-status" header="Current Tasks">
<div *ngFor="let workflowTask of workflowTasks" class="ui-g">
  <div class="ui-g-12">
    <p-panel class="workflow-status" header="{{workflowTask.task.name}}">
      <div [ngSwitch]="workflowTask.task.name">
        <div *ngSwitchCase="'Create ePAR'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Create the new hire ePAR in iVisions and enter the ePAR ID in the box below.
              </div>
              <form [formGroup]="eparForm" (ngSubmit)="submitEparForm(workflowTask)">
                ePAR ID *:<br/>
                <input class="form-control" formControlName="epar_id" pattern="[0-9]+" pInputText>
                <button pButton type="submit" label="Save" [disabled]="eparForm.pristine || !eparForm.valid"></button>
              </form>
          </div>
          </div>
        </div>
        <div *ngSwitchCase="'Create Termination ePAR'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Create the termination ePAR in iVisions and enter the ePAR ID in the box below.
              </div>
              <form [formGroup]="eparForm" (ngSubmit)="submitEparForm(workflowTask)">
                ePAR ID *:<br/>
                <input class="form-control" formControlName="epar_id" pattern="[0-9]+" pInputText>
                <button pButton type="submit" label="Save" [disabled]="eparForm.pristine || !eparForm.valid"></button>
              </form>
          </div>
          </div>
        </div>
        <div *ngSwitchCase="'Create Transfer ePAR'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Create the transfer ePAR in iVisions and enter the ePAR ID in the box below.
              </div>
              <form [formGroup]="eparForm" (ngSubmit)="submitEparForm(workflowTask)">
                ePAR ID *:<br/>
                <input class="form-control" formControlName="epar_id" pattern="[0-9]+" pInputText>
                <button pButton type="submit" label="Save" [disabled]="eparForm.pristine || !eparForm.valid"></button>
              </form>
          </div>
          </div>
        </div>
        <div *ngSwitchCase="'Assign Work Locations'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Add all physical locations the employee will work at to the right-hand box.
              </div>
              <p-pickList [source]="availableLocations" [target]="employeeLocations" [showTargetControls]=false [showSourceControls]=false>
                  <ng-template let-location pTemplate="item">
                      <div class="ui-helper-clearfix">
                          {{location.short_name}}
                      </div>
                  </ng-template>
              </p-pickList>
              <button pButton type="button" (click)="submitAssignLocations(workflowTask)" label="Update Locations"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Create Employee Maintenance Record'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Create the employee's Visions Employee Maintenance record and enter the "Record ID" in the box below.
              </div>
              <form [formGroup]="visionsIDForm" (ngSubmit)="submitVisionsIDForm(workflowTask)">
                Visions Record ID *:<br/>
                <input class="form-control" formControlName="visions_id" pattern="[0-9]+" pInputText>
                <button pButton type="submit" label="Save" [disabled]="visionsIDForm.pristine || !visionsIDForm.valid"></button>
              </form>
          </div>
          </div>
        </div>
        <div *ngSwitchCase="'Create Active Directory Account'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Create (or modify if this is a transfer) the user's Active Directory account (making sure to enter the Visions ID in the appropriate place) and click the button below.
              </div>
              <button pButton type="button" (click)="submitEmployeeADForm(workflowTask)" label="Check for Active Directory Account"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Disable Active Directory Account'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Disable the user's Active Directory account and click the button below.
              </div>
              <button pButton type="button" (click)="submitDisableEmployeeADForm(workflowTask)" label="Verify Active Directory Account Disabled"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Create Synergy Account'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Create the user's Synergy account (making sure to enter the Visions ID into the badge number field) and click the button below.
              </div>
              <button pButton type="button" (click)="submitEmployeeSynergyForm(workflowTask)" label="Check for Synergy Account"></button><br/><br/>
              <button pButton type="button" (click)="skipEmployeeSynergyForm(workflowTask)" label="Synergy Account Not Needed"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Transfer Synergy Account'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Do any work to transfer, inactivate or create a Synergy account based on the transfer information and click the button below (Even if no changes are required).
              </div>
              <button pButton type="button" (click)="submitEmployeeSynergyForm(workflowTask)" label="Synergy Account Transfered"></button><br/><br/>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Transfer Active Directory Account'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Do any work to transfer, inactivate or create an Active Directory account based on the transfer information and click the button below (Even if no changes are required).
              </div>
              <button pButton type="button" (click)="submitEmployeeADForm(workflowTask)" label="Active Directory Account Transfered"></button><br/><br/>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Disable Synergy Account'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Disable the user's Synergy account and click the button below.
              </div>
              <button pButton type="button" (click)="submitDisableEmployeeSynergyForm(workflowTask)" label="Verify Synergy Account Disabled"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Assign Employee to Visions Position'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                In Visions, assign the employee to the appropriate positions, then click the button below.
              </div>
              <button pButton type="button" (click)="submitEmployeeVisionsPositionForm(workflowTask)" label="Check for Employee Visions Positions"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Create TCP Account'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Once the employee has been synced to Time Clock Plus, click the button below.
              </div>
              <button pButton type="button" (click)="submitTcpAccountForm(workflowTask)" label="Check for TCP Job ID in Visions"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Onboard Employee'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Once the employee or contractor has completed the onboarding process, click the button below.
              </div>
              <button pButton type="button" (click)="submitIsOnboardedForm(workflowTask)" label="Employee has been Onboarded"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'TCP Fingerprint Employee'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                After the employee or contractor has registered their fingerprints in Time Clock Plus, click the button below.
              </div>
              <button pButton type="button" (click)="submitIsTcpFingerprintedForm(workflowTask)" label="Employee has been fingerprinted in TCP"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Employee Badge Printed'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Once the employee or contractor's physical badge has been printed and given to them, click the button below.
              </div>
              <button pButton type="button" (click)="submitIsEmployeeBadgePrintedForm(workflowTask)" label="Employee's Badge has been printed"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Ignore Employee'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                Click the button below to set the employee to be ignored by Tandem.
              </div>
              <button pButton type="button" (click)="submitIgnoreEmployeeForm(workflowTask)" label="Ignore Employee"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Cancel Workflow'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                To cancel this person's current workflow, click the button below.
              </div>
              <button pButton type="button" (click)="submitCancelWorkflow(workflowTask)" label="Cancel Workflow"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Verify Possible Active Directory Account Reversion'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                This employee had a Workflow that has been canceled. If you had already made Active Directory changes, please revert.
              </div>
              <button pButton type="button" (click)="submitCancelADWorkflow(workflowTask)" label="Active Directory Reversions Completed or Unnecessary"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Verify Possible Synergy Account Reversion'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                This employee had a Workflow that has been canceled. If you had already made Synergy changes, please revert.
              </div>
              <button pButton type="button" (click)="submitCancelSynergyWorkflow(workflowTask)" label="Synergy Reversions Completed or Unnecessary"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Verify Possible Visions Position Reversion'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <div class="task-instructions">
                This employee had a Workflow that has been canceled. If you had already made Visions Position changes, please revert.
              </div>
              <button pButton type="button" (click)="submitCancelVisionsWorkflow(workflowTask)" label="Visions Position Reversions Completed or Unnecessary"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchDefault>No Tasks</div>
      </div>
    </p-panel>
  </div>
</div>
</p-panel>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="500"></p-confirmDialog>
<p-dialog header="Error" [(visible)]="displayError" modal="modal" width="300" [responsive]="true">
    <p>{{displayErrorMessage}}</p>
</p-dialog>
