<p-growl [(value)]="msgs"></p-growl>
<p-panel class="workflow-status" header="Current Tasks">
<div *ngFor="let workflowTask of workflowTasks" class="ui-g">
  <div class="ui-g-12">
    <p-panel class="workflow-status" header="{{workflowTask.task.name}}">
      <div [ngSwitch]="workflowTask.task.name">
        <div *ngSwitchCase="'Create ePAR'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <form [formGroup]="eparForm" (ngSubmit)="submitEparForm(workflowTask)">
                ePAR ID:<br/>
                <input class="form-control" formControlName="epar_id" pattern="[0-9]+" pInputText>
                <button pButton type="submit" label="Save" [disabled]="eparForm.pristine || !eparForm.valid"></button>
              </form>
          </div>
          </div>
        </div>
        <div *ngSwitchCase="'Create Employee Maintenance Record'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <form [formGroup]="visionsIDForm" (ngSubmit)="submitVisionsIDForm(workflowTask)">
                Visions Record ID:<br/>
                <input class="form-control" formControlName="visions_id" pattern="[0-9]+" pInputText>
                <button pButton type="submit" label="Save" [disabled]="visionsIDForm.pristine || !visionsIDForm.valid"></button>
              </form>
          </div>
          </div>
        </div>
        <div *ngSwitchCase="'Create Active Directory Account'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <button pButton type="button" (click)="submitEmployeeADForm(workflowTask)" label="Check for Active Directory Account"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Assign Employee to Visions Position'">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-3">
              <button pButton type="button" (click)="submitEmployeeVisionsPositionForm(workflowTask)" label="Check for Employee Visions Positions"></button>
            </div>
          </div>
        </div>
        <div *ngSwitchDefault>No Tasks</div>
      </div>
    </p-panel>
  </div>
</div>
</p-panel>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="500"></p-confirmDialog>
<p-dialog header="Error" [(visible)]="displayError" modal="modal" width="300" [responsive]="true">
    <p>{{displayErrorMessage}}</p>
</p-dialog>
