<div class="row">
    <div class="col">
      <div class="dashboard-panel ui-corner-all">
        <div class="dashboard-icon-box">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
        </div>
        <div class="dashboard-text-box">
          My Tasks<br/>
          <span class="dashboard-number">3</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="dashboard-panel ui-corner-all">
        <div class="dashboard-icon-box">
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <div class="dashboard-text-box">
          Hires this Month<br/>
          <span class="dashboard-number">10</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="dashboard-panel ui-corner-all">
        <div class="dashboard-icon-box">
          <i class="fa fa-tasks" aria-hidden="true"></i>
        </div>
        <div class="dashboard-text-box">
          Active Workflows<br/>
          <span class="dashboard-number">23</span>
        </div>
      </div>
    </div>
</div>
