/* You can add global styles to this file, and also import other style files */
/* body {
  font-family: 'Roboto', sans-serif;
  background-color: #edf0f5;
}
*/
.dashboard-panel {
  background-color: #2ecc71;
  height: 100px;
}

.dashboard-text-box {
  float: right;
  width: 75%;
  font-size: 24px;
  text-align: center;
  color: white;
  padding-top: 5px;
}

span.dashboard-number {
  font-size: 38px;
  margin: 5px 0 5px 0
}

.dashboard-icon-box {
  float: left;
  background-color: #27ae60;
  height: 100%;
  width: 25%;
}

.dashboard-icon-box i {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}

.login-row {
  padding-top: 100px;
}

div.login-box {
  background-color: rgb(118, 123, 127);
  padding: 50px 0 50px 0;
}

body .panelNotCompleted {
  background-color: #EF9A9A;
}

body .panelCompleted {
  background-color: #A5D6A7;
}

body .panelNotNeeded {
  background-color: #CFD8DC;
  color: #90A4AE;
}

body .workflow-status .ui-panel .ui-panel-content {
  padding: 0;
}

body .workflow-status .ui-panel .ui-panel-content .workflow-status-panel {
  padding: 1.25em;
}

body app-root .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number,
body app-root .ui-steps .ui-steps-item:not(.ui-state-highlight) .ui-steps-number:hover,
body app-root .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number
 {
  color: rgba(0, 0, 0, 0);
}

body app-root span.fa-chevron-circle-right, body app-root span.fa-chevron-circle-down {
  color: black;
}

body app-root .fa-chevron-circle-right:before, body app-root .fa-chevron-circle-down {
  font-size: 36px;
}

.task-instructions {
  margin: 1em;
  padding: 1em;
  background-color: #eee;
  font-size: 0.9em;
  font-style: italic;
}
